//
// Font styles //
//
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Outfit', sans-serif;

$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

//
// Colors //
//
$black-09: rgba(0, 0, 0, 0.9);
$black-08: rgba(0, 0, 0, 0.8);
$black-07: rgba(0, 0, 0, 0.7);
$black-06: rgba(0, 0, 0, 0.6);
$black-05: rgba(0, 0, 0, 0.5);
$black-04: rgba(0, 0, 0, 0.4);
$black-03: rgba(0, 0, 0, 0.3);
$black-02: rgba(0, 0, 0, 0.2);
$black-015: rgba(0, 0, 0, 0.15);
$black-01: rgba(0, 0, 0, 0.1);
$dark: rgb(24, 26, 28);
$dark-09: rgba(24, 26, 28, 0.9);
$dark-08: rgba(24, 26, 28, 0.8);
$dark-07: rgba(24, 26, 28, 0.7);
$dark-06: rgba(24, 26, 28, 0.6);
$dark-05: rgba(24, 26, 28, 0.5);
$dark-04: rgba(24, 26, 28, 0.4);
$dark-03: rgba(24, 26, 28, 0.3);
$dark-02: rgba(24, 26, 28, 0.2);
$dark-015: rgba(24, 26, 28, 0.15);
$dark-01: rgba(24, 26, 28, 0.1);
$dark-lighter: rgb(34, 36, 39);
$dark-lighter-09: rgba(34, 36, 39, 0.9);
$dark-lighter-08: rgba(34, 36, 39, 0.8);
$dark-lighter-07: rgba(34, 36, 39, 0.7);
$dark-lighter-06: rgba(34, 36, 39, 0.6);
$dark-lighter-05: rgba(34, 36, 39, 0.5);
$dark-lighter-04: rgba(34, 36, 39, 0.4);
$dark-lighter-03: rgba(34, 36, 39, 0.3);
$dark-lighter-02: rgba(34, 36, 39, 0.2);
$dark-lighter-01: rgba(34, 36, 39, 0.1);
$white-09: rgba(255, 255, 255, 0.9);
$white-08: rgba(255, 255, 255, 0.8);
$white-07: rgba(255, 255, 255, 0.7);
$white-06: rgba(255, 255, 255, 0.6);
$white-05: rgba(255, 255, 255, 0.5);
$white-04: rgba(255, 255, 255, 0.4);
$white-03: rgba(255, 255, 255, 0.3);
$white-02: rgba(255, 255, 255, 0.2);
$white-015: rgba(255, 255, 255, 0.15);
$white-01: rgba(255, 255, 255, 0.1);
$primary: rgb(130, 131, 133);
$primary-lighter: rgb(136, 137, 138);
$green: #32CD32;
$red: #E32227;
$yellow: #FFAE42;

$bg-gray: rgb(241, 245, 249);
$btn-gray: rgb(237, 241, 245);

$gradient: linear-gradient(45deg, #2fbdff 0%, #ff7582 100%);