//
// Image //
//
img {
	width: auto;
	max-width: 100%;
	height: auto;
}
.img-mask-1 {
	border-top-left-radius: 3em;
	border-bottom-right-radius: 3em;
}
.img-mask-2 {
	border-top-right-radius: 3em;
	border-bottom-left-radius: 3em;
}